### 1.pandas 的索引
索引是非常重要的一个功能，使用索引我们就可以对数据进行选取和筛选

**四种索引形式：**
1. 使用位置做索引
2. 使用列表做索引
3. 使用切片做索引
4. 使用bool类型索引

** A、选取行: **

使用 loc 或者 iloc 函数来实现

In [1]:
import pandas as pd

In [2]:
filepath = '销售客户信息.xlsx'

df = pd.read_excel(filepath)

In [3]:
df

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
3,10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77
5,10000006,2018-01-01,女,27,2018-07-01,VIP,北京市,朝阳区,2019-05-06 12:00:00,2019-05-05 12:00:00,12,1682.76,26,2307.50
6,10000007,2018-01-01,男,21,2018-07-06,VIP,北京市,东城区,2019-06-19 02:24:00,2019-06-19 02:24:00,12,1212.96,24,1435.44
7,10000008,2018-01-01,女,45,NaT,NaN,北京市,朝阳区,2018-06-24 09:36:00,2018-06-20 09:36:00,11,1284.14,0,0.00
8,10000009,2018-01-01,男,32,2018-07-03,VIP,北京市,北京市,2019-05-17 09:36:00,2019-05-13 09:36:00,12,994.92,19,1148.17
9,10000010,2018-01-01,女,22,2018-07-04,VIP,北京市,怀柔区,2019-06-30 00:00:00,2019-06-25 00:00:00,12,1664.16,36,3430.80
10,10000011,2018-01-01,男,28,2018-07-03,VIP,北京市,宣武区,2019-06-24 13:12:00,2019-06-22 13:12:00,12,1081.20,23,1168.17
11,10000012,2018-01-01,男,32,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:12:00,2019-06-19 13:12:00,12,1674.12,36,1874.16
12,10000013,2018-01-02,女,21,NaT,NaN,北京市,北京市,2018-09-20 02:52:48,2018-09-17 02:52:48,17,1652.74,0,0.00
13,10000014,2018-01-02,女,28,2018-07-01,VIP,北京市,海淀区,2019-05-06 14:24:00,2019-05-05 14:24:00,12,1258.56,24,2316.96
14,10000015,2018-01-02,女,45,NaT,NaN,北京市,海淀区,2018-07-11 09:36:00,2018-07-11 09:36:00,13,1458.60,0,0.00
15,10000016,2018-01-02,女,62,NaT,NaN,北京市,通州区,2019-04-09 09:36:00,2019-04-04 09:36:00,30,2002.20,0,0.00
16,10000017,2018-01-02,女,45,NaT,NaN,北京市,朝阳区,2018-10-11 21:07:12,2018-10-07 21:07:12,19,2100.45,0,0.00
17,10000018,2018-01-03,女,30,2018-07-01,VIP,北京市,北京市,2019-05-12 03:07:12,2019-05-11 03:07:12,12,1585.20,28,1980.72
18,10000019,2018-01-03,男,37,NaT,NaN,北京市,朝阳区,2018-11-24 19:12:00,2018-11-21 19:12:00,22,1991.22,0,0.00
19,10000020,2018-01-03,女,38,NaT,NaN,北京市,朝阳区,2018-11-30 05:31:12,2018-11-25 05:31:12,22,1373.24,0,0.00
20,10000021,2018-01-03,女,18,2018-07-01,VIP,北京市,北京市,2019-05-28 10:04:48,2019-05-26 10:04:48,12,1328.76,20,1846.40
21,10000022,2018-01-03,女,42,2018-07-02,VIP,北京市,北京市,2019-05-17 13:26:24,2019-05-13 13:26:24,12,1500.72,19,1839.96
22,10000023,2018-01-03,女,47,NaT,NaN,北京市,朝阳区,2018-07-01 04:33:36,2018-06-28 04:33:36,12,1666.32,0,0.00
23,10000024,2018-01-03,女,30,2018-07-01,VIP,北京市,朝阳区,2019-06-02 20:24:00,2019-05-28 20:24:00,12,1413.96,17,1120.47
24,10000025,2018-01-03,男,35,NaT,NaN,北京市,南三环,2018-06-25 18:14:24,2018-06-23 18:14:24,11,1245.64,0,0.00
25,10000026,2018-01-03,男,30,2018-07-06,VIP,北京市,北京市,2019-06-02 20:24:00,2019-05-30 20:24:00,12,1685.64,20,1576.20
26,10000027,2018-01-03,女,27,2018-07-04,VIP,北京市,北京市,2019-06-24 13:40:48,2019-06-19 13:40:48,12,1606.92,30,2053.20
27,10000028,2018-01-04,男,42,NaT,NaN,北京市,北京市,2018-08-25 01:26:24,2018-08-23 01:26:24,15,1653.15,0,0.00
28,10000029,2018-01-04,男,37,NaT,NaN,北京市,北京市,2018-06-21 00:28:48,2018-06-20 00:28:48,11,1299.98,0,0.00
29,10000030,2018-01-04,女,33,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:55:12,2019-06-22 13:55:12,12,1262.04,33,1763.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,10004971,2019-06-25,女,18,2019-06-27,VIP,北京市,北京市,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,98.00
4971,10004972,2019-06-25,男,47,2019-06-28,VIP,北京市,北京市,2019-06-29 13:12:00,2019-06-29 13:12:00,0,0.00,1,64.00
4972,10004973,2019-06-25,男,40,2019-06-28,VIP,北京市,海淀区,2019-06-29 20:24:00,2019-06-29 20:24:00,0,0.00,1,52.00
4973,10004974,2019-06-25,女,24,2019-06-25,VIP,北京市,朝阳区,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,96.00
4974,10004975,2019-06-25,男,58,NaT,NaN,北京市,朝阳区,2019-06-28 09:36:00,NaT,0,0.00,0,0.00
4975,10004976,2019-06-25,男,50,NaT,NaN,北京市,朝阳区,2019-06-28 10:48:00,NaT,0,0.00,0,0.00
4976,10004977,2019-06-26,男,29,2019-06-28,VIP,北京市,定海区,2019-06-29 19:12:00,2019-06-29 19:12:00,0,0.00,1,84.00
4977,10004978,2019-06-26,男,26,2019-06-29,VIP,北京市,昌平区,2019-06-29 15:21:36,2019-06-29 15:21:36,0,0.00,1,67.00
4978,10004979,2019-06-26,男,30,NaT,NaN,北京市,北京市,2019-06-27 05:45:36,NaT,0,0.00,0,0.00
4979,10004980,2019-06-27,女,37,NaT,NaN,北京市,东城区,2019-06-29 16:04:48,NaT,0,0.00,0,0.00
4980,10004981,2019-06-27,女,36,NaT,NaN,北京市,北京市,2019-06-29 08:09:36,NaT,0,0.00,0,0.00
4981,10004982,2019-06-27,女,34,2019-06-29,VIP,北京市,朝阳区,2019-06-29 18:57:36,2019-06-29 18:57:36,0,0.00,1,73.00
4982,10004983,2019-06-27,女,22,2019-06-27,VIP,北京市,北京市,2019-06-29 17:31:12,2019-06-29 17:31:12,0,0.00,1,93.00
4983,10004984,2019-06-27,女,23,2019-06-29,VIP,北京市,海淀区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,63.00
4984,10004985,2019-06-27,女,47,NaT,NaN,北京市,朝阳区,2019-06-28 21:21:36,NaT,0,0.00,0,0.00
4985,10004986,2019-06-28,男,20,2019-06-30,VIP,北京市,北京市,2019-06-29 21:36:00,2019-06-29 21:36:00,0,0.00,1,94.00
4986,10004987,2019-06-28,男,31,NaT,NaN,北京市,北京市,2019-06-28 19:40:48,NaT,0,0.00,0,0.00
4987,10004988,2019-06-28,女,48,NaT,NaN,北京市,丰台区丰台科,2019-06-29 09:07:12,NaT,0,0.00,0,0.00
4988,10004989,2019-06-29,女,43,NaT,NaN,北京市,丰台区,2019-06-29 12:57:36,NaT,0,0.00,0,0.00
4989,10004990,2019-06-29,女,28,2019-07-02,VIP,北京市,北京市,2019-06-29 23:16:48,2019-06-29 23:16:48,0,0.00,1,67.00
4990,10004991,2019-06-29,女,24,2019-07-01,VIP,北京市,北京市,2019-06-29 21:50:24,2019-06-29 21:50:24,0,0.00,1,53.00
4991,10004992,2019-06-29,女,29,2019-06-30,VIP,北京市,北京市,2019-06-29 22:48:00,2019-06-29 22:48:00,0,0.00,1,67.00
4992,10004993,2019-06-29,女,19,2019-07-02,VIP,北京市,朝阳区,2019-06-29 22:33:36,2019-06-29 22:33:36,0,0.00,1,82.00
4993,10004994,2019-06-30,男,44,2019-07-01,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,81.00
4994,10004995,2019-06-30,女,37,NaT,NaN,北京市,朝阳区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4995,10004996,2019-06-30,女,48,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4996,10004997,2019-06-30,女,26,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4997,10004998,2019-06-30,男,18,2019-07-03,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,98.00
4998,10004999,2019-06-30,男,30,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4999,10005000,2019-06-30,男,26,2019-06-30,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,52.00

In [4]:
# 直接索引，获取第2 行
df.loc[2]

用户ID                    10000003
注册时间         2018-01-01 00:00:00
性别                             男
年龄                            50
会员开通时间       2018-07-06 00:00:00
会员类型                         VIP
城市                           北京市
区域                           北京市
最后一次登陆       2019-06-30 00:00:00
最后一次成交       2019-06-27 00:00:00
非会员累计购买次数                     12
非会员累计消费                  1369.56
会员累计购买次数                      19
会员累计消费                   1526.65
Name: 2, dtype: object

In [5]:
# 2.列表索引，列表可以是arange，range，ndarray ，series 都可以，列表形式即可
# 获取0，1，2 行
df.loc[[0,1,2]]

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65

In [7]:
# 3.切片索引
df.loc[0:4]

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
3,10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77

In [8]:
# 4.bool类型索引
b1 = df['年龄']>30
b1

0        True
1        True
2        True
3       False
4        True
5       False
6       False
7        True
8        True
9       False
10      False
11       True
12      False
13      False
14       True
15       True
16       True
17      False
18       True
19       True
20      False
21       True
22       True
23      False
24       True
25      False
26      False
27       True
28       True
29       True
        ...
4970    False
4971     True
4972     True
4973    False
4974     True
4975     True
4976    False
4977    False
4978    False
4979     True
4980     True
4981     True
4982    False
4983    False
4984     True
4985    False
4986     True
4987     True
4988     True
4989    False
4990    False
4991    False
4992    False
4993     True
4994     True
4995     True
4996    False
4997    False
4998    False
4999    False
Name: 年龄, Length: 5000, dtype: bool

In [9]:
df.loc[b1]

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77
7,10000008,2018-01-01,女,45,NaT,NaN,北京市,朝阳区,2018-06-24 09:36:00,2018-06-20 09:36:00,11,1284.14,0,0.00
8,10000009,2018-01-01,男,32,2018-07-03,VIP,北京市,北京市,2019-05-17 09:36:00,2019-05-13 09:36:00,12,994.92,19,1148.17
11,10000012,2018-01-01,男,32,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:12:00,2019-06-19 13:12:00,12,1674.12,36,1874.16
14,10000015,2018-01-02,女,45,NaT,NaN,北京市,海淀区,2018-07-11 09:36:00,2018-07-11 09:36:00,13,1458.60,0,0.00
15,10000016,2018-01-02,女,62,NaT,NaN,北京市,通州区,2019-04-09 09:36:00,2019-04-04 09:36:00,30,2002.20,0,0.00
16,10000017,2018-01-02,女,45,NaT,NaN,北京市,朝阳区,2018-10-11 21:07:12,2018-10-07 21:07:12,19,2100.45,0,0.00
18,10000019,2018-01-03,男,37,NaT,NaN,北京市,朝阳区,2018-11-24 19:12:00,2018-11-21 19:12:00,22,1991.22,0,0.00
19,10000020,2018-01-03,女,38,NaT,NaN,北京市,朝阳区,2018-11-30 05:31:12,2018-11-25 05:31:12,22,1373.24,0,0.00
21,10000022,2018-01-03,女,42,2018-07-02,VIP,北京市,北京市,2019-05-17 13:26:24,2019-05-13 13:26:24,12,1500.72,19,1839.96
22,10000023,2018-01-03,女,47,NaT,NaN,北京市,朝阳区,2018-07-01 04:33:36,2018-06-28 04:33:36,12,1666.32,0,0.00
24,10000025,2018-01-03,男,35,NaT,NaN,北京市,南三环,2018-06-25 18:14:24,2018-06-23 18:14:24,11,1245.64,0,0.00
27,10000028,2018-01-04,男,42,NaT,NaN,北京市,北京市,2018-08-25 01:26:24,2018-08-23 01:26:24,15,1653.15,0,0.00
28,10000029,2018-01-04,男,37,NaT,NaN,北京市,北京市,2018-06-21 00:28:48,2018-06-20 00:28:48,11,1299.98,0,0.00
29,10000030,2018-01-04,女,33,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:55:12,2019-06-22 13:55:12,12,1262.04,33,1763.85
30,10000031,2018-01-04,女,35,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,2019-06-27 00:00:00,36,2829.96,0,0.00
33,10000034,2018-01-04,女,39,NaT,NaN,北京市,海淀区,2018-06-15 14:24:00,2018-06-13 14:24:00,11,881.43,0,0.00
34,10000035,2018-01-04,女,35,NaT,NaN,北京市,海淀区,2018-10-18 06:14:24,2018-10-15 06:14:24,19,1940.28,0,0.00
37,10000038,2018-01-04,男,33,2018-07-02,VIP,北京市,北京市,2019-05-23 01:26:24,2019-05-23 01:26:24,12,1269.96,19,1328.48
39,10000040,2018-01-04,女,35,NaT,NaN,北京市,朝阳区,2019-01-18 09:36:00,2019-01-18 09:36:00,25,1641.00,0,0.00
41,10000042,2018-01-05,男,40,NaT,NaN,北京市,朝阳区,2019-04-20 16:04:48,2019-04-18 16:04:48,31,1956.72,0,0.00
42,10000043,2018-01-05,男,34,2018-07-03,VIP,北京市,北京市,2019-06-24 14:09:36,2019-06-20 14:09:36,12,1434.84,36,2973.60
43,10000044,2018-01-05,女,35,NaT,NaN,北京市,朝阳区,2019-05-28 12:57:36,2019-05-28 12:57:36,34,2826.08,0,0.00
45,10000046,2018-01-05,男,31,2018-07-03,VIP,北京市,丰台区,2019-05-23 03:07:12,2019-05-21 03:07:12,12,1574.28,28,1821.12
46,10000047,2018-01-05,女,37,NaT,NaN,北京市,通州区,2018-08-25 15:07:12,2018-08-20 15:07:12,15,2149.50,0,0.00
47,10000048,2018-01-05,女,38,NaT,NaN,北京市,朝阳区,2019-02-03 22:19:12,2019-01-30 22:19:12,26,2516.02,0,0.00
49,10000050,2018-01-05,男,40,2018-07-01,VIP,北京市,北京市,2019-06-24 14:09:36,2019-06-24 14:09:36,12,1186.44,17,1688.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4939,10004940,2019-06-19,男,33,2019-06-19,VIP,北京市,北京市,2019-06-28 21:36:00,2019-06-26 21:36:00,0,0.00,2,146.52
4940,10004941,2019-06-19,女,34,2019-06-19,VIP,北京市,朝阳区,2019-06-28 21:36:00,2019-06-28 21:36:00,0,0.00,1,61.91
4942,10004943,2019-06-20,男,38,NaT,NaN,北京市,北京市,2019-06-26 21:36:00,NaT,0,0.00,0,0.00
4947,10004948,2019-06-21,女,57,NaT,NaN,北京市,丰台区,2019-06-26 07:26:24,NaT,0,0.00,0,0.00
4948,10004949,2019-06-21,男,35,NaT,NaN,北京市,朝阳区,2019-06-26 05:16:48,NaT,0,0.00,0,0.00
4949,10004950,2019-06-21,女,44,NaT,NaN,北京市,北京市,2019-06-25 14:09:36,NaT,0,0.00,0,0.00
4951,10004952,2019-06-21,女,32,2019-06-21,VIP,北京市,海淀区,2019-06-29 17:31:12,2019-06-29 17:31:12,0,0.00,1,60.00
4954,10004955,2019-06-22,女,42,NaT,NaN,北京市,北京市,2019-06-25 02:52:48,NaT,0,0.00,0,0.00
4955,10004956,2019-06-22,女,48,NaT,NaN,北京市,北京市,2019-06-29 08:38:24,NaT,0,0.00,0,0.00
4957,10004958,2019-06-22,男,33,2019-06-22,VIP,北京市,朝阳区,2019-06-29 06:43:12,2019-06-24 06:43:12,0,0.00,1,94.00
4958,10004959,2019-06-22,女,40,NaT,NaN,北京市,朝阳区,2019-06-26 07:40:48,NaT,0,0.00,0,0.00
4961,10004962,2019-06-23,女,45,NaT,NaN,北京市,北京市,2019-06-27 09:50:24,NaT,0,0.00,0,0.00
4964,10004965,2019-06-24,男,35,NaT,NaN,北京市,昌平区北,2019-06-28 10:33:36,NaT,0,0.00,0,0.00
4965,10004966,2019-06-24,女,35,NaT,NaN,北京市,西城区,2019-06-27 05:45:36,NaT,0,0.00,0,0.00
4968,10004969,2019-06-24,女,32,2019-06-25,VIP,北京市,北京市,2019-06-29 19:40:48,2019-06-26 19:40:48,0,0.00,1,88.00
4969,10004970,2019-06-25,女,42,NaT,NaN,北京市,西城区,2019-06-28 18:00:00,NaT,0,0.00,0,0.00
4971,10004972,2019-06-25,男,47,2019-06-28,VIP,北京市,北京市,2019-06-29 13:12:00,2019-06-29 13:12:00,0,0.00,1,64.00
4972,10004973,2019-06-25,男,40,2019-06-28,VIP,北京市,海淀区,2019-06-29 20:24:00,2019-06-29 20:24:00,0,0.00,1,52.00
4974,10004975,2019-06-25,男,58,NaT,NaN,北京市,朝阳区,2019-06-28 09:36:00,NaT,0,0.00,0,0.00
4975,10004976,2019-06-25,男,50,NaT,NaN,北京市,朝阳区,2019-06-28 10:48:00,NaT,0,0.00,0,0.00
4979,10004980,2019-06-27,女,37,NaT,NaN,北京市,东城区,2019-06-29 16:04:48,NaT,0,0.00,0,0.00
4980,10004981,2019-06-27,女,36,NaT,NaN,北京市,北京市,2019-06-29 08:09:36,NaT,0,0.00,0,0.00
4981,10004982,2019-06-27,女,34,2019-06-29,VIP,北京市,朝阳区,2019-06-29 18:57:36,2019-06-29 18:57:36,0,0.00,1,73.00
4984,10004985,2019-06-27,女,47,NaT,NaN,北京市,朝阳区,2019-06-28 21:21:36,NaT,0,0.00,0,0.00
4986,10004987,2019-06-28,男,31,NaT,NaN,北京市,北京市,2019-06-28 19:40:48,NaT,0,0.00,0,0.00
4987,10004988,2019-06-28,女,48,NaT,NaN,北京市,丰台区丰台科,2019-06-29 09:07:12,NaT,0,0.00,0,0.00
4988,10004989,2019-06-29,女,43,NaT,NaN,北京市,丰台区,2019-06-29 12:57:36,NaT,0,0.00,0,0.00
4993,10004994,2019-06-30,男,44,2019-07-01,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,81.00
4994,10004995,2019-06-30,女,37,NaT,NaN,北京市,朝阳区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4995,10004996,2019-06-30,女,48,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00

**iloc 和 loc 的区别**
1. loc 是基于索引值的，切片是左闭右闭的
2. iloc 是基于位置的，切片是左闭右开的

In [11]:
df.loc[0:2]

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65

In [13]:
df.iloc[2]

用户ID                    10000003
注册时间         2018-01-01 00:00:00
性别                             男
年龄                            50
会员开通时间       2018-07-06 00:00:00
会员类型                         VIP
城市                           北京市
区域                           北京市
最后一次登陆       2019-06-30 00:00:00
最后一次成交       2019-06-27 00:00:00
非会员累计购买次数                     12
非会员累计消费                  1369.56
会员累计购买次数                      19
会员累计消费                   1526.65
Name: 2, dtype: object

In [16]:
df1 = df.set_index('用户ID')
df1

,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
用户ID,,,,,,,,,,,,,
10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77
10000006,2018-01-01,女,27,2018-07-01,VIP,北京市,朝阳区,2019-05-06 12:00:00,2019-05-05 12:00:00,12,1682.76,26,2307.50
10000007,2018-01-01,男,21,2018-07-06,VIP,北京市,东城区,2019-06-19 02:24:00,2019-06-19 02:24:00,12,1212.96,24,1435.44
10000008,2018-01-01,女,45,NaT,NaN,北京市,朝阳区,2018-06-24 09:36:00,2018-06-20 09:36:00,11,1284.14,0,0.00
10000009,2018-01-01,男,32,2018-07-03,VIP,北京市,北京市,2019-05-17 09:36:00,2019-05-13 09:36:00,12,994.92,19,1148.17
10000010,2018-01-01,女,22,2018-07-04,VIP,北京市,怀柔区,2019-06-30 00:00:00,2019-06-25 00:00:00,12,1664.16,36,3430.80
10000011,2018-01-01,男,28,2018-07-03,VIP,北京市,宣武区,2019-06-24 13:12:00,2019-06-22 13:12:00,12,1081.20,23,1168.17
10000012,2018-01-01,男,32,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:12:00,2019-06-19 13:12:00,12,1674.12,36,1874.16
10000013,2018-01-02,女,21,NaT,NaN,北京市,北京市,2018-09-20 02:52:48,2018-09-17 02:52:48,17,1652.74,0,0.00
10000014,2018-01-02,女,28,2018-07-01,VIP,北京市,海淀区,2019-05-06 14:24:00,2019-05-05 14:24:00,12,1258.56,24,2316.96
10000015,2018-01-02,女,45,NaT,NaN,北京市,海淀区,2018-07-11 09:36:00,2018-07-11 09:36:00,13,1458.60,0,0.00
10000016,2018-01-02,女,62,NaT,NaN,北京市,通州区,2019-04-09 09:36:00,2019-04-04 09:36:00,30,2002.20,0,0.00
10000017,2018-01-02,女,45,NaT,NaN,北京市,朝阳区,2018-10-11 21:07:12,2018-10-07 21:07:12,19,2100.45,0,0.00
10000018,2018-01-03,女,30,2018-07-01,VIP,北京市,北京市,2019-05-12 03:07:12,2019-05-11 03:07:12,12,1585.20,28,1980.72
10000019,2018-01-03,男,37,NaT,NaN,北京市,朝阳区,2018-11-24 19:12:00,2018-11-21 19:12:00,22,1991.22,0,0.00
10000020,2018-01-03,女,38,NaT,NaN,北京市,朝阳区,2018-11-30 05:31:12,2018-11-25 05:31:12,22,1373.24,0,0.00
10000021,2018-01-03,女,18,2018-07-01,VIP,北京市,北京市,2019-05-28 10:04:48,2019-05-26 10:04:48,12,1328.76,20,1846.40
10000022,2018-01-03,女,42,2018-07-02,VIP,北京市,北京市,2019-05-17 13:26:24,2019-05-13 13:26:24,12,1500.72,19,1839.96
10000023,2018-01-03,女,47,NaT,NaN,北京市,朝阳区,2018-07-01 04:33:36,2018-06-28 04:33:36,12,1666.32,0,0.00
10000024,2018-01-03,女,30,2018-07-01,VIP,北京市,朝阳区,2019-06-02 20:24:00,2019-05-28 20:24:00,12,1413.96,17,1120.47
10000025,2018-01-03,男,35,NaT,NaN,北京市,南三环,2018-06-25 18:14:24,2018-06-23 18:14:24,11,1245.64,0,0.00
10000026,2018-01-03,男,30,2018-07-06,VIP,北京市,北京市,2019-06-02 20:24:00,2019-05-30 20:24:00,12,1685.64,20,1576.20
10000027,2018-01-03,女,27,2018-07-04,VIP,北京市,北京市,2019-06-24 13:40:48,2019-06-19 13:40:48,12,1606.92,30,2053.20
10000028,2018-01-04,男,42,NaT,NaN,北京市,北京市,2018-08-25 01:26:24,2018-08-23 01:26:24,15,1653.15,0,0.00
10000029,2018-01-04,男,37,NaT,NaN,北京市,北京市,2018-06-21 00:28:48,2018-06-20 00:28:48,11,1299.98,0,0.00
10000030,2018-01-04,女,33,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:55:12,2019-06-22 13:55:12,12,1262.04,33,1763.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10004971,2019-06-25,女,18,2019-06-27,VIP,北京市,北京市,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,98.00
10004972,2019-06-25,男,47,2019-06-28,VIP,北京市,北京市,2019-06-29 13:12:00,2019-06-29 13:12:00,0,0.00,1,64.00
10004973,2019-06-25,男,40,2019-06-28,VIP,北京市,海淀区,2019-06-29 20:24:00,2019-06-29 20:24:00,0,0.00,1,52.00
10004974,2019-06-25,女,24,2019-06-25,VIP,北京市,朝阳区,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,96.00
10004975,2019-06-25,男,58,NaT,NaN,北京市,朝阳区,2019-06-28 09:36:00,NaT,0,0.00,0,0.00
10004976,2019-06-25,男,50,NaT,NaN,北京市,朝阳区,2019-06-28 10:48:00,NaT,0,0.00,0,0.00
10004977,2019-06-26,男,29,2019-06-28,VIP,北京市,定海区,2019-06-29 19:12:00,2019-06-29 19:12:00,0,0.00,1,84.00
10004978,2019-06-26,男,26,2019-06-29,VIP,北京市,昌平区,2019-06-29 15:21:36,2019-06-29 15:21:36,0,0.00,1,67.00
10004979,2019-06-26,男,30,NaT,NaN,北京市,北京市,2019-06-27 05:45:36,NaT,0,0.00,0,0.00
10004980,2019-06-27,女,37,NaT,NaN,北京市,东城区,2019-06-29 16:04:48,NaT,0,0.00,0,0.00
10004981,2019-06-27,女,36,NaT,NaN,北京市,北京市,2019-06-29 08:09:36,NaT,0,0.00,0,0.00
10004982,2019-06-27,女,34,2019-06-29,VIP,北京市,朝阳区,2019-06-29 18:57:36,2019-06-29 18:57:36,0,0.00,1,73.00
10004983,2019-06-27,女,22,2019-06-27,VIP,北京市,北京市,2019-06-29 17:31:12,2019-06-29 17:31:12,0,0.00,1,93.00
10004984,2019-06-27,女,23,2019-06-29,VIP,北京市,海淀区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,63.00
10004985,2019-06-27,女,47,NaT,NaN,北京市,朝阳区,2019-06-28 21:21:36,NaT,0,0.00,0,0.00
10004986,2019-06-28,男,20,2019-06-30,VIP,北京市,北京市,2019-06-29 21:36:00,2019-06-29 21:36:00,0,0.00,1,94.00
10004987,2019-06-28,男,31,NaT,NaN,北京市,北京市,2019-06-28 19:40:48,NaT,0,0.00,0,0.00
10004988,2019-06-28,女,48,NaT,NaN,北京市,丰台区丰台科,2019-06-29 09:07:12,NaT,0,0.00,0,0.00
10004989,2019-06-29,女,43,NaT,NaN,北京市,丰台区,2019-06-29 12:57:36,NaT,0,0.00,0,0.00
10004990,2019-06-29,女,28,2019-07-02,VIP,北京市,北京市,2019-06-29 23:16:48,2019-06-29 23:16:48,0,0.00,1,67.00
10004991,2019-06-29,女,24,2019-07-01,VIP,北京市,北京市,2019-06-29 21:50:24,2019-06-29 21:50:24,0,0.00,1,53.00
10004992,2019-06-29,女,29,2019-06-30,VIP,北京市,北京市,2019-06-29 22:48:00,2019-06-29 22:48:00,0,0.00,1,67.00
10004993,2019-06-29,女,19,2019-07-02,VIP,北京市,朝阳区,2019-06-29 22:33:36,2019-06-29 22:33:36,0,0.00,1,82.00
10004994,2019-06-30,男,44,2019-07-01,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,81.00
10004995,2019-06-30,女,37,NaT,NaN,北京市,朝阳区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
10004996,2019-06-30,女,48,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
10004997,2019-06-30,女,26,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
10004998,2019-06-30,男,18,2019-07-03,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,98.00
10004999,2019-06-30,男,30,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
10005000,2019-06-30,男,26,2019-06-30,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,52.00

In [17]:
df1.loc[0:2]

Empty DataFrame
Columns: [注册时间, 性别, 年龄, 会员开通时间, 会员类型, 城市, 区域, 最后一次登陆, 最后一次成交, 非会员累计购买次数, 非会员累计消费, 会员累计购买次数, 会员累计消费]
Index: []

In [18]:
df1.iloc[0:2]

,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
用户ID,,,,,,,,,,,,,
10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00

In [20]:
df.loc[0:5,'年龄']

0    43
1    56
2    50
3    23
4    33
5    27
Name: 年龄, dtype: int64

In [28]:
df1.iloc[0:5]

,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
用户ID,,,,,,,,,,,,,
10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77

** B、选取列: **

不需要使用函数

In [67]:
df['年龄'].head()

0    43
1    56
2    50
3    23
4    33
Name: 年龄, dtype: int64

In [68]:
df[['年龄','城市']].head()

   年龄   城市
0  43  北京市
1  56  北京市
2  50  北京市
3  23  北京市
4  33  北京市

In [69]:
# 注意使用切片和bool索引的话，效果和选取行是一样的
df[0:3]

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65

In [72]:
df.iloc[0:3]

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65

In [73]:
df[df['年龄']>18]

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
3,10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77
5,10000006,2018-01-01,女,27,2018-07-01,VIP,北京市,朝阳区,2019-05-06 12:00:00,2019-05-05 12:00:00,12,1682.76,26,2307.50
6,10000007,2018-01-01,男,21,2018-07-06,VIP,北京市,东城区,2019-06-19 02:24:00,2019-06-19 02:24:00,12,1212.96,24,1435.44
7,10000008,2018-01-01,女,45,NaT,NaN,北京市,朝阳区,2018-06-24 09:36:00,2018-06-20 09:36:00,11,1284.14,0,0.00
8,10000009,2018-01-01,男,32,2018-07-03,VIP,北京市,北京市,2019-05-17 09:36:00,2019-05-13 09:36:00,12,994.92,19,1148.17
9,10000010,2018-01-01,女,22,2018-07-04,VIP,北京市,怀柔区,2019-06-30 00:00:00,2019-06-25 00:00:00,12,1664.16,36,3430.80
10,10000011,2018-01-01,男,28,2018-07-03,VIP,北京市,宣武区,2019-06-24 13:12:00,2019-06-22 13:12:00,12,1081.20,23,1168.17
11,10000012,2018-01-01,男,32,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:12:00,2019-06-19 13:12:00,12,1674.12,36,1874.16
12,10000013,2018-01-02,女,21,NaT,NaN,北京市,北京市,2018-09-20 02:52:48,2018-09-17 02:52:48,17,1652.74,0,0.00
13,10000014,2018-01-02,女,28,2018-07-01,VIP,北京市,海淀区,2019-05-06 14:24:00,2019-05-05 14:24:00,12,1258.56,24,2316.96
14,10000015,2018-01-02,女,45,NaT,NaN,北京市,海淀区,2018-07-11 09:36:00,2018-07-11 09:36:00,13,1458.60,0,0.00
15,10000016,2018-01-02,女,62,NaT,NaN,北京市,通州区,2019-04-09 09:36:00,2019-04-04 09:36:00,30,2002.20,0,0.00
16,10000017,2018-01-02,女,45,NaT,NaN,北京市,朝阳区,2018-10-11 21:07:12,2018-10-07 21:07:12,19,2100.45,0,0.00
17,10000018,2018-01-03,女,30,2018-07-01,VIP,北京市,北京市,2019-05-12 03:07:12,2019-05-11 03:07:12,12,1585.20,28,1980.72
18,10000019,2018-01-03,男,37,NaT,NaN,北京市,朝阳区,2018-11-24 19:12:00,2018-11-21 19:12:00,22,1991.22,0,0.00
19,10000020,2018-01-03,女,38,NaT,NaN,北京市,朝阳区,2018-11-30 05:31:12,2018-11-25 05:31:12,22,1373.24,0,0.00
21,10000022,2018-01-03,女,42,2018-07-02,VIP,北京市,北京市,2019-05-17 13:26:24,2019-05-13 13:26:24,12,1500.72,19,1839.96
22,10000023,2018-01-03,女,47,NaT,NaN,北京市,朝阳区,2018-07-01 04:33:36,2018-06-28 04:33:36,12,1666.32,0,0.00
23,10000024,2018-01-03,女,30,2018-07-01,VIP,北京市,朝阳区,2019-06-02 20:24:00,2019-05-28 20:24:00,12,1413.96,17,1120.47
24,10000025,2018-01-03,男,35,NaT,NaN,北京市,南三环,2018-06-25 18:14:24,2018-06-23 18:14:24,11,1245.64,0,0.00
25,10000026,2018-01-03,男,30,2018-07-06,VIP,北京市,北京市,2019-06-02 20:24:00,2019-05-30 20:24:00,12,1685.64,20,1576.20
26,10000027,2018-01-03,女,27,2018-07-04,VIP,北京市,北京市,2019-06-24 13:40:48,2019-06-19 13:40:48,12,1606.92,30,2053.20
27,10000028,2018-01-04,男,42,NaT,NaN,北京市,北京市,2018-08-25 01:26:24,2018-08-23 01:26:24,15,1653.15,0,0.00
28,10000029,2018-01-04,男,37,NaT,NaN,北京市,北京市,2018-06-21 00:28:48,2018-06-20 00:28:48,11,1299.98,0,0.00
29,10000030,2018-01-04,女,33,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:55:12,2019-06-22 13:55:12,12,1262.04,33,1763.85
30,10000031,2018-01-04,女,35,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,2019-06-27 00:00:00,36,2829.96,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,10004969,2019-06-24,女,32,2019-06-25,VIP,北京市,北京市,2019-06-29 19:40:48,2019-06-26 19:40:48,0,0.00,1,88.00
4969,10004970,2019-06-25,女,42,NaT,NaN,北京市,西城区,2019-06-28 18:00:00,NaT,0,0.00,0,0.00
4971,10004972,2019-06-25,男,47,2019-06-28,VIP,北京市,北京市,2019-06-29 13:12:00,2019-06-29 13:12:00,0,0.00,1,64.00
4972,10004973,2019-06-25,男,40,2019-06-28,VIP,北京市,海淀区,2019-06-29 20:24:00,2019-06-29 20:24:00,0,0.00,1,52.00
4973,10004974,2019-06-25,女,24,2019-06-25,VIP,北京市,朝阳区,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,96.00
4974,10004975,2019-06-25,男,58,NaT,NaN,北京市,朝阳区,2019-06-28 09:36:00,NaT,0,0.00,0,0.00
4975,10004976,2019-06-25,男,50,NaT,NaN,北京市,朝阳区,2019-06-28 10:48:00,NaT,0,0.00,0,0.00
4976,10004977,2019-06-26,男,29,2019-06-28,VIP,北京市,定海区,2019-06-29 19:12:00,2019-06-29 19:12:00,0,0.00,1,84.00
4977,10004978,2019-06-26,男,26,2019-06-29,VIP,北京市,昌平区,2019-06-29 15:21:36,2019-06-29 15:21:36,0,0.00,1,67.00
4978,10004979,2019-06-26,男,30,NaT,NaN,北京市,北京市,2019-06-27 05:45:36,NaT,0,0.00,0,0.00
4979,10004980,2019-06-27,女,37,NaT,NaN,北京市,东城区,2019-06-29 16:04:48,NaT,0,0.00,0,0.00
4980,10004981,2019-06-27,女,36,NaT,NaN,北京市,北京市,2019-06-29 08:09:36,NaT,0,0.00,0,0.00
4981,10004982,2019-06-27,女,34,2019-06-29,VIP,北京市,朝阳区,2019-06-29 18:57:36,2019-06-29 18:57:36,0,0.00,1,73.00
4982,10004983,2019-06-27,女,22,2019-06-27,VIP,北京市,北京市,2019-06-29 17:31:12,2019-06-29 17:31:12,0,0.00,1,93.00
4983,10004984,2019-06-27,女,23,2019-06-29,VIP,北京市,海淀区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,63.00
4984,10004985,2019-06-27,女,47,NaT,NaN,北京市,朝阳区,2019-06-28 21:21:36,NaT,0,0.00,0,0.00
4985,10004986,2019-06-28,男,20,2019-06-30,VIP,北京市,北京市,2019-06-29 21:36:00,2019-06-29 21:36:00,0,0.00,1,94.00
4986,10004987,2019-06-28,男,31,NaT,NaN,北京市,北京市,2019-06-28 19:40:48,NaT,0,0.00,0,0.00
4987,10004988,2019-06-28,女,48,NaT,NaN,北京市,丰台区丰台科,2019-06-29 09:07:12,NaT,0,0.00,0,0.00
4988,10004989,2019-06-29,女,43,NaT,NaN,北京市,丰台区,2019-06-29 12:57:36,NaT,0,0.00,0,0.00
4989,10004990,2019-06-29,女,28,2019-07-02,VIP,北京市,北京市,2019-06-29 23:16:48,2019-06-29 23:16:48,0,0.00,1,67.00
4990,10004991,2019-06-29,女,24,2019-07-01,VIP,北京市,北京市,2019-06-29 21:50:24,2019-06-29 21:50:24,0,0.00,1,53.00
4991,10004992,2019-06-29,女,29,2019-06-30,VIP,北京市,北京市,2019-06-29 22:48:00,2019-06-29 22:48:00,0,0.00,1,67.00
4992,10004993,2019-06-29,女,19,2019-07-02,VIP,北京市,朝阳区,2019-06-29 22:33:36,2019-06-29 22:33:36,0,0.00,1,82.00
4993,10004994,2019-06-30,男,44,2019-07-01,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,81.00
4994,10004995,2019-06-30,女,37,NaT,NaN,北京市,朝阳区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4995,10004996,2019-06-30,女,48,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4996,10004997,2019-06-30,女,26,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4998,10004999,2019-06-30,男,30,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4999,10005000,2019-06-30,男,26,2019-06-30,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,52.00

In [74]:
df.loc[df['年龄']>18]

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
3,10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77
5,10000006,2018-01-01,女,27,2018-07-01,VIP,北京市,朝阳区,2019-05-06 12:00:00,2019-05-05 12:00:00,12,1682.76,26,2307.50
6,10000007,2018-01-01,男,21,2018-07-06,VIP,北京市,东城区,2019-06-19 02:24:00,2019-06-19 02:24:00,12,1212.96,24,1435.44
7,10000008,2018-01-01,女,45,NaT,NaN,北京市,朝阳区,2018-06-24 09:36:00,2018-06-20 09:36:00,11,1284.14,0,0.00
8,10000009,2018-01-01,男,32,2018-07-03,VIP,北京市,北京市,2019-05-17 09:36:00,2019-05-13 09:36:00,12,994.92,19,1148.17
9,10000010,2018-01-01,女,22,2018-07-04,VIP,北京市,怀柔区,2019-06-30 00:00:00,2019-06-25 00:00:00,12,1664.16,36,3430.80
10,10000011,2018-01-01,男,28,2018-07-03,VIP,北京市,宣武区,2019-06-24 13:12:00,2019-06-22 13:12:00,12,1081.20,23,1168.17
11,10000012,2018-01-01,男,32,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:12:00,2019-06-19 13:12:00,12,1674.12,36,1874.16
12,10000013,2018-01-02,女,21,NaT,NaN,北京市,北京市,2018-09-20 02:52:48,2018-09-17 02:52:48,17,1652.74,0,0.00
13,10000014,2018-01-02,女,28,2018-07-01,VIP,北京市,海淀区,2019-05-06 14:24:00,2019-05-05 14:24:00,12,1258.56,24,2316.96
14,10000015,2018-01-02,女,45,NaT,NaN,北京市,海淀区,2018-07-11 09:36:00,2018-07-11 09:36:00,13,1458.60,0,0.00
15,10000016,2018-01-02,女,62,NaT,NaN,北京市,通州区,2019-04-09 09:36:00,2019-04-04 09:36:00,30,2002.20,0,0.00
16,10000017,2018-01-02,女,45,NaT,NaN,北京市,朝阳区,2018-10-11 21:07:12,2018-10-07 21:07:12,19,2100.45,0,0.00
17,10000018,2018-01-03,女,30,2018-07-01,VIP,北京市,北京市,2019-05-12 03:07:12,2019-05-11 03:07:12,12,1585.20,28,1980.72
18,10000019,2018-01-03,男,37,NaT,NaN,北京市,朝阳区,2018-11-24 19:12:00,2018-11-21 19:12:00,22,1991.22,0,0.00
19,10000020,2018-01-03,女,38,NaT,NaN,北京市,朝阳区,2018-11-30 05:31:12,2018-11-25 05:31:12,22,1373.24,0,0.00
21,10000022,2018-01-03,女,42,2018-07-02,VIP,北京市,北京市,2019-05-17 13:26:24,2019-05-13 13:26:24,12,1500.72,19,1839.96
22,10000023,2018-01-03,女,47,NaT,NaN,北京市,朝阳区,2018-07-01 04:33:36,2018-06-28 04:33:36,12,1666.32,0,0.00
23,10000024,2018-01-03,女,30,2018-07-01,VIP,北京市,朝阳区,2019-06-02 20:24:00,2019-05-28 20:24:00,12,1413.96,17,1120.47
24,10000025,2018-01-03,男,35,NaT,NaN,北京市,南三环,2018-06-25 18:14:24,2018-06-23 18:14:24,11,1245.64,0,0.00
25,10000026,2018-01-03,男,30,2018-07-06,VIP,北京市,北京市,2019-06-02 20:24:00,2019-05-30 20:24:00,12,1685.64,20,1576.20
26,10000027,2018-01-03,女,27,2018-07-04,VIP,北京市,北京市,2019-06-24 13:40:48,2019-06-19 13:40:48,12,1606.92,30,2053.20
27,10000028,2018-01-04,男,42,NaT,NaN,北京市,北京市,2018-08-25 01:26:24,2018-08-23 01:26:24,15,1653.15,0,0.00
28,10000029,2018-01-04,男,37,NaT,NaN,北京市,北京市,2018-06-21 00:28:48,2018-06-20 00:28:48,11,1299.98,0,0.00
29,10000030,2018-01-04,女,33,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:55:12,2019-06-22 13:55:12,12,1262.04,33,1763.85
30,10000031,2018-01-04,女,35,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,2019-06-27 00:00:00,36,2829.96,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,10004969,2019-06-24,女,32,2019-06-25,VIP,北京市,北京市,2019-06-29 19:40:48,2019-06-26 19:40:48,0,0.00,1,88.00
4969,10004970,2019-06-25,女,42,NaT,NaN,北京市,西城区,2019-06-28 18:00:00,NaT,0,0.00,0,0.00
4971,10004972,2019-06-25,男,47,2019-06-28,VIP,北京市,北京市,2019-06-29 13:12:00,2019-06-29 13:12:00,0,0.00,1,64.00
4972,10004973,2019-06-25,男,40,2019-06-28,VIP,北京市,海淀区,2019-06-29 20:24:00,2019-06-29 20:24:00,0,0.00,1,52.00
4973,10004974,2019-06-25,女,24,2019-06-25,VIP,北京市,朝阳区,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,96.00
4974,10004975,2019-06-25,男,58,NaT,NaN,北京市,朝阳区,2019-06-28 09:36:00,NaT,0,0.00,0,0.00
4975,10004976,2019-06-25,男,50,NaT,NaN,北京市,朝阳区,2019-06-28 10:48:00,NaT,0,0.00,0,0.00
4976,10004977,2019-06-26,男,29,2019-06-28,VIP,北京市,定海区,2019-06-29 19:12:00,2019-06-29 19:12:00,0,0.00,1,84.00
4977,10004978,2019-06-26,男,26,2019-06-29,VIP,北京市,昌平区,2019-06-29 15:21:36,2019-06-29 15:21:36,0,0.00,1,67.00
4978,10004979,2019-06-26,男,30,NaT,NaN,北京市,北京市,2019-06-27 05:45:36,NaT,0,0.00,0,0.00
4979,10004980,2019-06-27,女,37,NaT,NaN,北京市,东城区,2019-06-29 16:04:48,NaT,0,0.00,0,0.00
4980,10004981,2019-06-27,女,36,NaT,NaN,北京市,北京市,2019-06-29 08:09:36,NaT,0,0.00,0,0.00
4981,10004982,2019-06-27,女,34,2019-06-29,VIP,北京市,朝阳区,2019-06-29 18:57:36,2019-06-29 18:57:36,0,0.00,1,73.00
4982,10004983,2019-06-27,女,22,2019-06-27,VIP,北京市,北京市,2019-06-29 17:31:12,2019-06-29 17:31:12,0,0.00,1,93.00
4983,10004984,2019-06-27,女,23,2019-06-29,VIP,北京市,海淀区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,63.00
4984,10004985,2019-06-27,女,47,NaT,NaN,北京市,朝阳区,2019-06-28 21:21:36,NaT,0,0.00,0,0.00
4985,10004986,2019-06-28,男,20,2019-06-30,VIP,北京市,北京市,2019-06-29 21:36:00,2019-06-29 21:36:00,0,0.00,1,94.00
4986,10004987,2019-06-28,男,31,NaT,NaN,北京市,北京市,2019-06-28 19:40:48,NaT,0,0.00,0,0.00
4987,10004988,2019-06-28,女,48,NaT,NaN,北京市,丰台区丰台科,2019-06-29 09:07:12,NaT,0,0.00,0,0.00
4988,10004989,2019-06-29,女,43,NaT,NaN,北京市,丰台区,2019-06-29 12:57:36,NaT,0,0.00,0,0.00
4989,10004990,2019-06-29,女,28,2019-07-02,VIP,北京市,北京市,2019-06-29 23:16:48,2019-06-29 23:16:48,0,0.00,1,67.00
4990,10004991,2019-06-29,女,24,2019-07-01,VIP,北京市,北京市,2019-06-29 21:50:24,2019-06-29 21:50:24,0,0.00,1,53.00
4991,10004992,2019-06-29,女,29,2019-06-30,VIP,北京市,北京市,2019-06-29 22:48:00,2019-06-29 22:48:00,0,0.00,1,67.00
4992,10004993,2019-06-29,女,19,2019-07-02,VIP,北京市,朝阳区,2019-06-29 22:33:36,2019-06-29 22:33:36,0,0.00,1,82.00
4993,10004994,2019-06-30,男,44,2019-07-01,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,81.00
4994,10004995,2019-06-30,女,37,NaT,NaN,北京市,朝阳区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4995,10004996,2019-06-30,女,48,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4996,10004997,2019-06-30,女,26,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4998,10004999,2019-06-30,男,30,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4999,10005000,2019-06-30,男,26,2019-06-30,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,52.00

** C、选取行列: **

使用切片

In [75]:
df.loc[0,'年龄']

43

In [76]:
df.loc[[0,3],['年龄','性别']]

   年龄 性别
0  43  女
3  23  女

In [77]:
df.loc[0:3,['性别','年龄']]

  性别  年龄
0  女  43
1  男  56
2  男  50
3  女  23

In [78]:
df.iloc[0:3,0:2]

       用户ID       注册时间
0  10000001 2018-01-01
1  10000002 2018-01-01
2  10000003 2018-01-01

In [79]:
df.loc[df['年龄']>18,:]

,用户ID,注册时间,性别,年龄,会员开通时间,会员类型,城市,区域,最后一次登陆,最后一次成交,非会员累计购买次数,非会员累计消费,会员累计购买次数,会员累计消费
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
3,10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77
5,10000006,2018-01-01,女,27,2018-07-01,VIP,北京市,朝阳区,2019-05-06 12:00:00,2019-05-05 12:00:00,12,1682.76,26,2307.50
6,10000007,2018-01-01,男,21,2018-07-06,VIP,北京市,东城区,2019-06-19 02:24:00,2019-06-19 02:24:00,12,1212.96,24,1435.44
7,10000008,2018-01-01,女,45,NaT,NaN,北京市,朝阳区,2018-06-24 09:36:00,2018-06-20 09:36:00,11,1284.14,0,0.00
8,10000009,2018-01-01,男,32,2018-07-03,VIP,北京市,北京市,2019-05-17 09:36:00,2019-05-13 09:36:00,12,994.92,19,1148.17
9,10000010,2018-01-01,女,22,2018-07-04,VIP,北京市,怀柔区,2019-06-30 00:00:00,2019-06-25 00:00:00,12,1664.16,36,3430.80
10,10000011,2018-01-01,男,28,2018-07-03,VIP,北京市,宣武区,2019-06-24 13:12:00,2019-06-22 13:12:00,12,1081.20,23,1168.17
11,10000012,2018-01-01,男,32,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:12:00,2019-06-19 13:12:00,12,1674.12,36,1874.16
12,10000013,2018-01-02,女,21,NaT,NaN,北京市,北京市,2018-09-20 02:52:48,2018-09-17 02:52:48,17,1652.74,0,0.00
13,10000014,2018-01-02,女,28,2018-07-01,VIP,北京市,海淀区,2019-05-06 14:24:00,2019-05-05 14:24:00,12,1258.56,24,2316.96
14,10000015,2018-01-02,女,45,NaT,NaN,北京市,海淀区,2018-07-11 09:36:00,2018-07-11 09:36:00,13,1458.60,0,0.00
15,10000016,2018-01-02,女,62,NaT,NaN,北京市,通州区,2019-04-09 09:36:00,2019-04-04 09:36:00,30,2002.20,0,0.00
16,10000017,2018-01-02,女,45,NaT,NaN,北京市,朝阳区,2018-10-11 21:07:12,2018-10-07 21:07:12,19,2100.45,0,0.00
17,10000018,2018-01-03,女,30,2018-07-01,VIP,北京市,北京市,2019-05-12 03:07:12,2019-05-11 03:07:12,12,1585.20,28,1980.72
18,10000019,2018-01-03,男,37,NaT,NaN,北京市,朝阳区,2018-11-24 19:12:00,2018-11-21 19:12:00,22,1991.22,0,0.00
19,10000020,2018-01-03,女,38,NaT,NaN,北京市,朝阳区,2018-11-30 05:31:12,2018-11-25 05:31:12,22,1373.24,0,0.00
21,10000022,2018-01-03,女,42,2018-07-02,VIP,北京市,北京市,2019-05-17 13:26:24,2019-05-13 13:26:24,12,1500.72,19,1839.96
22,10000023,2018-01-03,女,47,NaT,NaN,北京市,朝阳区,2018-07-01 04:33:36,2018-06-28 04:33:36,12,1666.32,0,0.00
23,10000024,2018-01-03,女,30,2018-07-01,VIP,北京市,朝阳区,2019-06-02 20:24:00,2019-05-28 20:24:00,12,1413.96,17,1120.47
24,10000025,2018-01-03,男,35,NaT,NaN,北京市,南三环,2018-06-25 18:14:24,2018-06-23 18:14:24,11,1245.64,0,0.00
25,10000026,2018-01-03,男,30,2018-07-06,VIP,北京市,北京市,2019-06-02 20:24:00,2019-05-30 20:24:00,12,1685.64,20,1576.20
26,10000027,2018-01-03,女,27,2018-07-04,VIP,北京市,北京市,2019-06-24 13:40:48,2019-06-19 13:40:48,12,1606.92,30,2053.20
27,10000028,2018-01-04,男,42,NaT,NaN,北京市,北京市,2018-08-25 01:26:24,2018-08-23 01:26:24,15,1653.15,0,0.00
28,10000029,2018-01-04,男,37,NaT,NaN,北京市,北京市,2018-06-21 00:28:48,2018-06-20 00:28:48,11,1299.98,0,0.00
29,10000030,2018-01-04,女,33,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:55:12,2019-06-22 13:55:12,12,1262.04,33,1763.85
30,10000031,2018-01-04,女,35,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,2019-06-27 00:00:00,36,2829.96,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,10004969,2019-06-24,女,32,2019-06-25,VIP,北京市,北京市,2019-06-29 19:40:48,2019-06-26 19:40:48,0,0.00,1,88.00
4969,10004970,2019-06-25,女,42,NaT,NaN,北京市,西城区,2019-06-28 18:00:00,NaT,0,0.00,0,0.00
4971,10004972,2019-06-25,男,47,2019-06-28,VIP,北京市,北京市,2019-06-29 13:12:00,2019-06-29 13:12:00,0,0.00,1,64.00
4972,10004973,2019-06-25,男,40,2019-06-28,VIP,北京市,海淀区,2019-06-29 20:24:00,2019-06-29 20:24:00,0,0.00,1,52.00
4973,10004974,2019-06-25,女,24,2019-06-25,VIP,北京市,朝阳区,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,96.00
4974,10004975,2019-06-25,男,58,NaT,NaN,北京市,朝阳区,2019-06-28 09:36:00,NaT,0,0.00,0,0.00
4975,10004976,2019-06-25,男,50,NaT,NaN,北京市,朝阳区,2019-06-28 10:48:00,NaT,0,0.00,0,0.00
4976,10004977,2019-06-26,男,29,2019-06-28,VIP,北京市,定海区,2019-06-29 19:12:00,2019-06-29 19:12:00,0,0.00,1,84.00
4977,10004978,2019-06-26,男,26,2019-06-29,VIP,北京市,昌平区,2019-06-29 15:21:36,2019-06-29 15:21:36,0,0.00,1,67.00
4978,10004979,2019-06-26,男,30,NaT,NaN,北京市,北京市,2019-06-27 05:45:36,NaT,0,0.00,0,0.00
4979,10004980,2019-06-27,女,37,NaT,NaN,北京市,东城区,2019-06-29 16:04:48,NaT,0,0.00,0,0.00
4980,10004981,2019-06-27,女,36,NaT,NaN,北京市,北京市,2019-06-29 08:09:36,NaT,0,0.00,0,0.00
4981,10004982,2019-06-27,女,34,2019-06-29,VIP,北京市,朝阳区,2019-06-29 18:57:36,2019-06-29 18:57:36,0,0.00,1,73.00
4982,10004983,2019-06-27,女,22,2019-06-27,VIP,北京市,北京市,2019-06-29 17:31:12,2019-06-29 17:31:12,0,0.00,1,93.00
4983,10004984,2019-06-27,女,23,2019-06-29,VIP,北京市,海淀区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,63.00
4984,10004985,2019-06-27,女,47,NaT,NaN,北京市,朝阳区,2019-06-28 21:21:36,NaT,0,0.00,0,0.00
4985,10004986,2019-06-28,男,20,2019-06-30,VIP,北京市,北京市,2019-06-29 21:36:00,2019-06-29 21:36:00,0,0.00,1,94.00
4986,10004987,2019-06-28,男,31,NaT,NaN,北京市,北京市,2019-06-28 19:40:48,NaT,0,0.00,0,0.00
4987,10004988,2019-06-28,女,48,NaT,NaN,北京市,丰台区丰台科,2019-06-29 09:07:12,NaT,0,0.00,0,0.00
4988,10004989,2019-06-29,女,43,NaT,NaN,北京市,丰台区,2019-06-29 12:57:36,NaT,0,0.00,0,0.00
4989,10004990,2019-06-29,女,28,2019-07-02,VIP,北京市,北京市,2019-06-29 23:16:48,2019-06-29 23:16:48,0,0.00,1,67.00
4990,10004991,2019-06-29,女,24,2019-07-01,VIP,北京市,北京市,2019-06-29 21:50:24,2019-06-29 21:50:24,0,0.00,1,53.00
4991,10004992,2019-06-29,女,29,2019-06-30,VIP,北京市,北京市,2019-06-29 22:48:00,2019-06-29 22:48:00,0,0.00,1,67.00
4992,10004993,2019-06-29,女,19,2019-07-02,VIP,北京市,朝阳区,2019-06-29 22:33:36,2019-06-29 22:33:36,0,0.00,1,82.00
4993,10004994,2019-06-30,男,44,2019-07-01,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,81.00
4994,10004995,2019-06-30,女,37,NaT,NaN,北京市,朝阳区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4995,10004996,2019-06-30,女,48,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4996,10004997,2019-06-30,女,26,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4998,10004999,2019-06-30,男,30,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00
4999,10005000,2019-06-30,男,26,2019-06-30,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,52.00